<form id="messageForm">

  <input type="email" id="email" placeholder="Email">
  <input type="text" id="messageChat" placeholder="inserte mensaje">
  <button type="button" onclick="addMessage(messageForm)">agregar</button>
  
  
  
  </form> 