<form id="messageForm">
  <h1>Centro de Mensajes</h1>
  <input type="email" id="email" placeholder="Email">
  <input type="text" id="messageChat" placeholder="Inserte mensaje">
  <button type="button" onclick="addMessage(messageForm)">agregar</button>
  
  
  
  </form> 