
<!-- con el ID vinculo el .value para obtener la informacion -->
<form id="productForm">
    <h1>Ingrese Producto</h1>
    <input type="text" id="productName" placeholder="Producto"> <br>
    <input type="text" id="price" placeholder="Precio"> <br>
    <input type="text" id="thumbnail" placeholder="inserte mensaje"> <br>
    <button type="button" onclick="addProduct(productForm)">agregar</button> <br>
    
    
    
    </form> 