<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <form action="products" method="post">
      <input type="text" name="name" id="name"/>
      <input type="text" name="price" id="price"/>
      <input type="text" name="thumbnail" id="thumbnail"/>
      <input type="submit" value="cargar"/>
      
    </form>
    <%- include('../partials/footer'); %> 
  </body>
</html>

<!-- el - par importar
el = para variable
el sin nada escribis js -->