<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <form action="products" method="post">
      <input type="text" placeholder="nombre" name="name" id="name"/>
      <input type="text" placeholder="precio" name="price" id="price"/>
      <input type="text" placeholder="imagen" name="thumbnail" id="thumbnail"/>
      <input type="submit" value="cargar"/>
      
    </form>
    <%- include('../partials/footer'); %> 
    <button id="productos" onclick="window.location.href='http://localhost:8080/products';" >Ver Productos</button>
  </body>
</html>

<!-- el - par importar
el = para variable
el sin nada escribis js -->